.spanLang {
    display: none;
    
    text-shadow: 10px 10px 10px 10px rgb(207, 37, 37);
    
}

.spanLang--selected {
    display: inherit;
}

.container {
    min-width: 290px;
    box-shadow: 5px 5px;
    text-shadow: 3px 3px 10px gray;
    
}

.container--bright {
    background-color: white;
    color: black;
}

.container--dark {
    background-color: black;
    color: white;
}

.container--fontSizeSmall {
    font-size: 14px;
}

.container--fontSizeMedium {
    font-size: 16px;
}

.container--fontSizeBig {
    font-size: 18px;
}