.spanLang {
    display: none;
}

.spanLang--selected {
    display: inherit;
}

.container {
    min-width: 290px;
    box-shadow: 5px 5px;
    text-shadow: 2px 2px 4px gray;
}

.container--bright {
    background-color: white;
    color: black;
}

.container--dark {
    background-color: black;
    color: white;
    text-shadow: none;
}

.container--fontSizeSmall {
    font-size: 14px;
}

.container--fontSizeMedium {
    font-size: 16px;
}

.container--fontSizeBig {
    font-size: 18px;
}