.nav {
    display: grid;
    grid-template-columns: 1fr auto auto;
    padding: 18px 18px 0 0;
    border-bottom: 2px solid grey;
    justify-content: start;
    align-items: center;
    justify-items: start;
    align-content: center;
    min-height: 66px;
    transition: 0.2s;
}

@media (max-width: 539px) {
    .nav {
        grid-template-columns: 1fr;
        text-align: left;
    }
}

.nav__lang {
    padding: 0 0 18px 18px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
}

.nav__contrast {
    padding: 0 0 18px 18px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
    width: 200px;
    justify-content: flex-end;
}

@media (max-width: 539px) {
    .nav__contrast {
        justify-content: start;
    }
}

.nav__font {
    padding: 0 0 18px 18px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
    width: 200px;
    justify-content: flex-end;
}

@media (min-width: 540px) and (max-width: 767px) {
    .nav__font {
        grid-column-start: 2;
    }
}

@media (max-width: 539px) {
    .nav__font {
        justify-content: start;
    }
}

.nav__lang--pl {
    padding: 0 3px;
    border: none;
    background-color: transparent;
    color: inherit;
    transition: 0.2s;
}

.nav__lang--pl:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 20%;
}

.nav__lang--en {
    padding: 0 3px;
    border: none;
    background-color: transparent;
    color: inherit;
    transition: 0.2s;
}

.nav__lang--en:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 20%;
}

.nav__lang--selected {
    font-weight: 700;
}

.nav__contrast--bright {
    background-color: white;
    color: black;
    padding: 3px 3px 0 3px;
    border: 2px solid black;
    border-radius: 20%;
    transition: 0.2s;
}

.nav__contrast--bright:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 20%;
}

.nav__contrast--dark {
    background-color: black;
    color: white;
    padding: 3px 3px 0 3px;
    border: 2px solid white;
    border-radius: 20%;
    transition: 0.2s;
}

.nav__contrast--dark:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 20%;
}

.nav__fontSize {
    padding: 3px 3px 0 3px;
    background-color: transparent;
    color: inherit;
    border: 2px solid;
    border-radius: 20%;
    border-color: transparent;
}

.nav__fontSize--small {
    font-size: 16px;
    transition: 0.2s;
}

.nav__fontSize--small:hover {
    cursor: pointer;
    border-radius: 20%;
    transform: scale(1.2);
}

.nav__fontSize--medium {
    font-size: 19px;
    transition: 0.2s;
}

.nav__fontSize--medium:hover {
    cursor: pointer;
    border-radius: 20%;
    transform: scale(1.2);
}

.nav__fontSize--big {
    font-size: 22px;
    transition: 0.2s;
}

.nav__fontSize--big:hover {
    cursor: pointer;
    border-radius: 20%;
    transform: scale(1.2);
}

.nav_fontSize--selected {
    border-color: inherit;
}