html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: grey;
    padding: 20px 10px;
    max-width: 1000px;
    margin: 0 auto;
}