html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: teal;
    padding: 15px 15px;
    max-width: 1000px;
    margin: 0 auto;
}